
.maks{
  margin: 10px 100px;
}
.m2 img{
  width: 700px;
  display: inline-block;
  margin-left: 20px;
}
.m1{
  width: 700px;
  display: inline-block;
  margin-left: 20px;
  color: rgb(116, 214, 194);
}
.m img{ 
  width: 700px;
  height: 500px;
  margin-left: 20px;
}
.header a{
  margin-left: 20px;
}
body {
  color: #ffffff;
  background-color: #444444;
}

.logo {
  font-weight: 900;
  font-size: 24px;

  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 4px;

  color: aqua;
}

.header {
  position: fixed;

  padding: 16px;

  top: 0;
  left: 0;
  right: 0;

  box-shadow: 0px 0px 16px #00ffff8a;

  color: #ffffff;
  background-color: #333333;
}

.navigation {
  float: right;
  margin-top: 6px;
}